/* Nav Variables */
.navigation {
  --logo-width: 20%;
  --navlinks-width: 60%;
}

.menuIcon {
  display: none;
}

/* Nav-Bar styling */
.navigation {
    width: 100%;
    height: var(--nav-height);
    display: flex;
}
  
.logo {
  width: var(--logo-width);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo img {
  width: 7.5rem;
}

.navLinks {
  width: var(--navlinks-width);
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none; /* Remove underline */
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.btn:hover {
  color: var(--primary-color);
  font-weight: 500;
}

.downbtn {
  width: calc(100% - var(--logo-width) - var(--navlinks-width));
  display: flex;
  justify-content: center;
  align-items: center;
}

.cv {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 7px 14px;
  
  color: var(--primary-color);
  font-weight: 500;
  cursor: pointer;
  
  border: 1.5px solid var(--primary-color);
  border-radius: 10px;
  transition: all 0.2s ease-in-out;
  
  text-decoration: none;
}

.cv img {
  height: 1.25rem;
  background: transparent;
  filter: invert(49%) sepia(92%) saturate(2918%) hue-rotate(223deg) brightness(103%) contrast(98%);
}


.cv:hover {
  font-weight: 550;
  transform: scale(1.02);
  border: 2px solid var(--primary-color);
}


/* Mobile Styling */
@media (max-width: 480px) {

  .navigation {
    --nav-height: 10%;
  }
  
  
  .navLinks {
    display: none;
  }
  .downbtn {
    display: none;
  }
  
  .navigation {
    --logo-width: 30%;
    --menu-icon-width: 20%;
    justify-content: space-between;
  }
  
  .menuIcon {
    width: var(--menu-icon-width);
    height: 100%;
    
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .menuIcon img {
    height: 2rem;
    filter: invert(49%) sepia(92%) saturate(2918%) hue-rotate(223deg) brightness(103%) contrast(98%);
  }
  
  .menu {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: white;
    background: url(images/background.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 1;

    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  .closebtn {
    width: 20%;
    height: 10%;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  .closebtn img {
    height: 2rem;
    filter: invert(49%) sepia(92%) saturate(2918%) hue-rotate(223deg) brightness(103%) contrast(98%);
  }

  .menuLinks {
    width: 100%;
    height: 50%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }
  
}
