.home {
  --intro-width: 70%;
  --text-height: 70%;
  --photo-size: 25vw;
}

.home {
  width: 95%;
  height: 90%;
  display: flex;
  align-items: center;
}

/* Intro Styling */
.intro {
  height: 100%;
  width: var(--intro-width);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.text {
  width: 80%;
  height: var(--text-height);
}

.hirectr {
  width: 80%;
  height: calc(100% - var(--text-height));
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.hirebtn {
  border-radius: 10px;
  padding: 5px 20px;
  color: white;
  background-color: var(--primary-color);
  cursor: pointer;
  font-weight: 450;
}

.l1 {
  font-weight: 300;
  margin-top: 30px;
}

.l2 {
  font-weight: 650;
  color: var(--primary-color);
  margin-top: 5px;
}

.l3 {
  font-weight: 400;
  
}

.l4 {
  margin-top: 30px;  
}

/* Photo Styling */
.photo {
  height: 100%;
  width: calc(100% - var(--intro-width));
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: calc(var(--photo-size)/10);
}

.inr_cir {
  width: var(--photo-size);
  aspect-ratio: 1 / 1.35;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  border-radius: 0px 0px 99999px 99999px;
  overflow: hidden;
}

.otr_cir {
  width: var(--photo-size);
  height: var(--photo-size);
  display: flex;
  justify-content: center;
  align-items: flex-end;
  border-radius: 99999px 99999px 99999px 99999px;
  
  border: calc(var(--photo-size) * 0.1) solid var(--primary-color) !important;
  
  box-shadow: 0px calc(var(--photo-size) * 0.05) calc(var(--photo-size) * 0.125)  0px rgba(121,134,263, 0.5) inset !important;
}


.photo img {
  width: 105%;
}



/* Mobile Styling */
@media (max-width: 480px) {
  .home {
    --photo-size: 40vw;
    --photo-height: 25%;
    --text-height: 50%;
    
    flex-direction: column-reverse;
  }

  .photo {
    width: 100%;
    height: var(--photo-height);
    
    align-items: flex-start;

    padding-top: 0px;
  }


  .intro {
    width: 100%;
    height: calc(100% - var(--photo-height));

    --text-height: 40%;

    justify-content: space-around;
  }

  .text > * {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
}
